*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #efefef;
}
.profile{
    width: 40px;
    height: 40px;
    /* border-radius: 50%;
    object-fit: cover; */
}
.p_i{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.nav_bar{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    height: 60px;
}
.logo{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: white;
    cursor: pointer;
    
}
.search,.copy{
    border-radius: 30px;
    height: 40px;
    border: 0;
    background-color: #efefef;
    width: 250px;
    padding-top: 6px;
    text-align: center;
    
}
.ho{
    font-size: 0.5px;
}

.search input{
    background-color: transparent;
    outline: 0;
    border: 0;
}
.copy input{
    background-color: transparent;
    outline: 0;
    border: 0;
}
.nav_middle,.nav_last *{
    background-color: white;
}
.nav_middle{
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: white;
    cursor: pointer;
    margin-left: 8%;
}
.nav_last{
    display: flex;
    gap: 15px;
    align-items: center;
    background-color: white;
    cursor: pointer;
}
.ho{
    font-size: 30px;
}
.bell{
    position: relative;
}
.bell::after{
    content: '+2';
    position: absolute;
    width: 25px;
    font-size: 15px;
    font-weight: 500;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    top: -20%;
    right: -20%;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 13px;
    height: 13px;
    position: absolute;
    border-radius: 50%;
    background-color: green;
    border: 1.5px solid white;
    top: -5%;
    right: -5%;
}
.container1{
    background-color: #efefef;
    
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
    background-color: #efefef;
}
.left-side{
    position: sticky;
    flex-basis: 25%;
    top: 70;
    align-self: flex-start;
    background-color: #efefef;
    height: 100vh; /* Ensure the height takes up the full viewport */
    overflow-y: auto;

    

}
.right-side{    
    position: sticky;
    flex-basis: 25%;
    top: 70;
    align-self: flex-start;
    background: #fff;
    border-radius: 4px;
    color: #626262;
    padding: 10px;
    height: 100vh; /* Ensure the height takes up the full viewport */
    overflow-y: auto; 

}
.main-content{
    flex-basis: 47%;
    height: 100vh; /* Ensure the height takes up the full viewport */
    overflow-y: auto;
}
.imp-links a, .shortcut-links a{
    text-decoration: none;
    display: flex;
    color: #626262;
    align-items: center;
    margin-bottom: 30px;
    width: fit-content;
}
.imp-links a img{
    width: 25px;
    margin-right: 15px;
}
.imp-links a:last-child{
    color: #1876f2;
}
.imp-links{
    border-bottom: 1px solid #ccc;
}
.shortcut-links a img{
    width: 40px;
    margin-right: 15px;
    border-radius: 4px;
}
.shortcut-links p{
    margin: 25px 0px;
    color: #626262;
    font-weight: 500;
}
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    background: #fff;
}
.sidebar-title h4{
    font-size: 16px;
    font-weight: 600;
}
.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}
.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;

}
.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 5px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.event p{
    font-size: 12px;
}
.right-event a{
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
    /* padding-bottom: 15px; */
}
.right-event h4{
    font-size: 16px;
    margin-bottom: 4px;
}
.right-event p{
    font-size: 12px;
    margin-bottom: 0px;
}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}
.sidebar-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}
.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.online-list .online img{
    width: 40px;
    border-radius: 50%;
}
.online-list .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.online-list .online::after{
    top: unset;
    bottom: 0;
}

.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(./images/circle-pf.jpeg);
    background-position: center;
    background-size: cover;
    border-radius:10px ;
}
.story img{
    position: absolute;
    width: 40%;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 5px solid #1876f2;
}
.story p{
   position: absolute; 
   bottom: 0%;
   width: 100%;
   text-align: center;
   color: #fff;
   font-size: 0.85rem;
}
.story1{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(./images/circle-pf.jpeg); 
}
.story2{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(./images/status-2.png); 
}
.story3{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(./images/status-3.png); 
}
.story4{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(./images/status-4.png); 
}
.story5{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(./images/status-5.png); 
}
.story.story1 img{
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 40%;
}
.write-post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}
.user-profile{
    display: flex;
    align-items: center;

}
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.det p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.det small{
    margin-top: 0;
    font-size: 12px;
}
.post-input-container{
    padding-left: 55px;
    padding-top: 18px;
    width: 100%;
}
.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}
.add-post-links{
    display: flex;
    margin-top: 10px;
    width: 100%;

}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 25px;
    font-size: 13px;
}
.add-post-links a img{
    width: 20px;
    margin-right: 10px;
}
.post-container {
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}
.user-profile span{
    font-size: 13px;
    color: #9a9a9a;
}
.post-text{
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}
.post-text a{
    color: #1876f2;
    text-decoration: none;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px ;
}
.post-row{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-icon div img{
    width: 18px;
    margin-right: 5px;

}
.activity-icon div{
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}
.post-profile-icon{
    display: flex;
    align-items: center;
}
.post-profile-icon img{
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.post-row a{
    color: #9a9a9a;
}
.load-more{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 3px 8px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;

}
.footer{
    text-align: center;
    color: #9a9a9a;
    padding: 10px 20px;
    font-size: 13px;
}
.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 350px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 2%;
    max-height: 0;
    transition: max-height 0.3s;
    visibility: hidden;
}
.settings-menu-height{
    max-height: 450px;
    visibility: visible;
}

.bar-menu{
    position: absolute;
    width: 90%;
    max-width: 300px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    left: 2%;
    padding: 10px 30px;
    max-height: 0;
    transition: max-height 0.3s;
    visibility: hidden;
}
.bar{
    margin-bottom: 20px;
}
.h:hover{
    background-color: #ccc;
    transition: all 0.4s;
    cursor: pointer;
}
.bar-menu-height{
    max-height: 450px;
    visibility: visible;
}








.user-profile a{
    font-size: 12px;
    color: #1876f2;
    text-decoration: none;
}
.user-profile p{
    /* margin-top: 10px; */
    margin-bottom: 0px;
}
/* .user-profile div *{
    padding: 0;
    margin: 0;
} */
 .settings-menu-inner{
    padding: 20px;
 }
 .settings-menu hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
 }
 .setting-links{
    display: flex;
    align-items: center;
    margin: 15px 0;

 }
 .setting-links .settings-icon{
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
 }
 .setting-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
 }
 .setting-links:hover{
    background-color: #ccc;
    transition: background-color 0.4s;
 }

 .search-icon{
    display: none;
 }


 @media screen and (max-width: 762px){
    .left-side, .right-side{
        display: none;
    }
    .main-content{
        flex-basis: 100%;
    }
    .nav_middle{
        display: none;
    }
    .search-icon{
        display: block;
    }
    .search{
        display: none;
    }
    .story{
        flex-basis: 30%;
        padding-top: 53.33%;
        position: relative;
        background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(./images/circle-pf.jpeg);
        background-position: center;
        background-size: cover;
        border-radius:10px ;
    }
    .story4{
        display: none;
        
    }
    .story5{
        display: none;
    }
    .story2{
        background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(./images/status-2.png);

    }    
    .story3{
        background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(./images/status-3.png);

    }
    .un{
        display: none;
    }
 }

 @media screen and (min-width:762px) and (max-width:912px) {
    .left-side{
        display: none;
    }
    .nav_middle{
        display: none;
    }
    .main-content{
        flex-basis: 70%;
    }
    .right-side{
        flex-basis: 27%;
    }
    .container{
        padding: 0;
    }
    .story{
        flex-basis: 22.5%;
        padding-top: 40%;
        position: relative;
        background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(./images/circle-pf.jpeg);
        background-position: center;
        background-size: cover;
        border-radius:10px ;
    }
    .story5{
        display: none;
    }
    .story2{
        background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(./images/status-2.png);

    }    
    .story3{
        background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(./images/status-3.png);

    }
    .story4{
        background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(./images/status-4.png);

    }
    .un{
        display: none;
    }
    
    
 }